body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
h1{
    font-size: 60px;
}
                /* Banner */
.header{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    margin: 50px 100px;
}
.header-split{
    width: 40%;
}
.header-split img{
    width: 570px;
}
.header-split a{
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
}
                /* Blog */
.blog{
    display: flex;
    margin:30px 100px;
    
}
/* Nav */
.nav{
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 20px;
}
.nav-button{
    background-color: whitesmoke;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.nav-button a{
    text-decoration: none;
    color: black;
}
#nav-blog{
    background-color: red;
}
#nav-blog a{
    color: white;
}
/* Main blog */
.main-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.News{
    border: 1px solid lightgray;
    width: 312px;
    height: 350px;
    border-radius: 10px;
}
article{
    padding-left: 10px;
}
article i{
    padding-left: 10px;
}
#transfer{
    border: 1px solid black;
    margin-right: 200px;
    padding-left: 20px;
    border-radius: 4px;
}
            /* Footer */
footer{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.926);
    height: 400px;
    text-align: center;
    padding-top: 100px;
}
footer h1{
    border-bottom: 1px solid rgba(255, 255, 255, 0.132) ;
    padding-bottom: 20px;
    margin: 0 200px ;
}
.footer-bottom{
    margin-top: 30px;
}
.footer-anchor , .social-media{
    text-decoration: none;
    color: whitesmoke;
    margin: 20px;
}
.social-media{
    margin: 5px;
}
